<!-- UTILIZAMOS VARIABLES DE PLANTILLA -->
<div class="mb-3">
  <label class="form-label">INGRESA TU NOMBRE</label>
  <!-- CON ESTE #name PODEMOS ACCEDER AL VALOR DEL INPUT -->
  <input type="text" class="form-control" placeholder="NOMBRE" #name>
  <button class="btn btn-primary" (click)="Consola(name.value)">Mostrar en consola</button>
</div>

<!-- Al usar directivas como esta el elemento es eliminado directamente del DOM -->
<div class="alert alert-danger mt-4" *ngIf="openAlert">
  Se a enviado el mensaje
</div>
